/* //// responsive section  //// */

/*// X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    body{
        margin-top: 40px !important;
    }
    .logo{
        margin: 10px 0;
    }
    .not_work h2{
        font-size: 41px;
        color:#0B1D45;
        font-weight: bolder;
    }
    #header{
        background-image: url("../assets/images/hero_mobile.png");
        background-size: cover;
        min-height: 40rem;
    }
    .hero{
        padding-top: 136px;
    }
    .hero h1 {
        font-size: 35px;
    }
    body .main_button {
        margin-bottom: 15px;
    }
    .intro_text{
        flex-direction: column;
    }
    #categories, #courses{
        border-top-left-radius: 135px;
        margin-top: -15px;
    }
    #categories {
        height: 800px;
        padding-top: 45px;
    }
    body .mt-100 {
        margin-top: 30px !important;
    }
    .footer_content{
        flex-direction: column;
    }
    .f1, .f2, .f3, .f4 {
        margin-bottom: 35px;
    }
    #categories .feature_title{
        margin-top: 10px !important;
    }
    #features svg{
        width: 100%;
        margin-top:20px;
        height: auto !important;
    }
    .footer_rightsline {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding-top: 35px;
        flex-direction: column;
        align-items: center;
    }
    #footer {
        padding: 50px 0;
        background-color: #0B1D45;
    }
    .footer_title{
        padding: 50px 0;
    }
    .navbar-nav{
        align-items: flex-start;
        padding: 30px 0;
    }
    body .nav_btn{
        margin-left: 0;
        margin-top: 20px;
    }
    .nav-item{
        border-bottom: 1px solid #eee;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .nav-item:nth-last-child(2){
        border: none;
    }
    section{
        padding: 0 15px;
    }
    #courses{
        padding-left: 0;
        padding-right: 0;
    }
    
    .desc-botton {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #details-content .description .brochure-fill {
        width: 100%;
        text-align: center;
        margin-bottom: 12px;
    }
    
    
    #details-content .description .brochure {
        width: 100%;
        text-align: center;
    }

    /* New Style */

    #new-aside {
        display: none;
    }

    #new-content {
        margin-left: 0px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 130px;
        margin-bottom: 60px;
    }

    #details-content img {
        width: 100%;
        height: 25vh;
        border-radius: 25px;
    }

    .right .course-image img {
        width: 100%;
        height: 25vh;
        border-radius: 25px;
    }

    #new-content .items {
        display: grid;
        grid-template-columns: 1fr !important;
    }

    #details-content {
        margin-top: 110px;
    }

    .description .desc-head h3 {
        font-size: 20px;
    }

    .description .desc-head .step-head {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .description .desc-head p {
        font-size: 16px;
        margin-bottom: 10px !important;
    }

    .description .desc-head .step-head .sep {
        border-right: none;
        padding-right: 0px;
    }
    .description .desc-head .step-head .head-c2{
        padding-left: 0px;
    }
    .description .desc-head .step-head .head-c3{
        padding-left: 0px;
    }

    .description .desc-body .para h4 {
        font-size: 17px;
    }

    .description .desc-body .para p {
        font-size: 16px;
    }

    .description .brochure {
        padding: 10px 20px;
        font-size: 16px;
    }

    /* CORSE LESSON PAGE */
    #course-lesson .page-items .right .course-image {
        height: 25vh !important;
    }

    #course-lesson .page-items .right .details .tabs .nav{
        grid-gap: 0rem;
    }
}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px) { 
    body{
        margin-top: 40px !important;
    }
     #header{
        background-image: url("../assets/images/hero_mobile.png");
        background-size: cover;
         min-height: 40rem;
    }
    .hero{
        padding-top: 136px;
    }
    .logo{
        margin: 10px 0;
    }
    .navbar-nav{
        align-items: flex-start;
        padding: 30px 0;
    }
    body .nav_btn{
        margin-left: 0;
        margin-top: 20px;
    }
    .nav-item{
        border-bottom: 1px solid #eee;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .nav-item:nth-last-child(2){
        border: none;
    }
    #categories, #courses{
        border-top-left-radius: 100px;
    }
    #categories {
        height: 800px;
        padding-top: 45px;
    }

    /* New */

    #new-aside {
        display: none;
    }

    #new-content .items {
        display: grid;
        grid-template-columns: 1fr;
    }

    #new-content {
        margin-left: 0px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 130px;
        margin-bottom: 60px;
    }

    #details-content {
        margin-top: 110px;
    }

    #course-lesson {
        margin-left: 0px;
        margin-top: 60px;
    }

    .bord {
        height: 40px;
        width: 40px;
        margin-bottom: 14px;
      }

      .course-vedio i {
        font-size: 20px;
      }

      .course-vedio a p {
        font-size: 14px;
      }

      span.live-icon {
        position: relative !important;
      }

      .mySlides img {
        height: 30vh !important;
        object-fit: cover;
    }

    .c3-media img {
        height: 100px !important;
    }

        /* NOTIFICATION PAGE */

        .noti-head {
            padding-top: 10px;
            margin-bottom: 35px;
        }
    
        .noti-head h3 {
            font-size: 18px;
        }
    
        .noti-head p {
            font-size: 12px;
        }
    
        .noti-item {
            grid-template-columns: 1fr;
        }
    
        .noti-item .noti-time h6 {
            font-size: 12px;
        }
    
        .noti-item .noti-time p {
            font-size: 10px;
        }

        .noti-item .noti-icon {
            margin-bottom: 10px;
        }
    
        .noti-item .noti-icon .icon-box {
            height: 40px;
            width: 40px;
            margin-right: 12px;
        }
    
        .noti-body .noti-content {
            font-size: 12px;
    
        }


}

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
    #header{
        background-image: url("../assets/images/hero_mobile.png");
        background-size: cover;
    }
    #categories, #courses{
        border-top-left-radius: 100px;
    }
    #categories {
        height: 800px;
        padding-top: 45px;
    }
    .mt-100{
        margin-top: 70px !important;
    }

        /* New */

        #new-aside {
            display: none;
        }

        #new-content .items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        #new-content {
            margin-left: 0px;
            padding-left: 20px;
            padding-right: 20px;
            margin-top: 130px;
            margin-bottom: 60px;
        }

        /* COURSE LESSONS PAGE */

        #course-lesson {
            margin-left: 0px;
            /* margin-top: 40px; */
        }

        /* #course-lesson .page-items {
            grid-template-columns: 1fr;
        } */

        #course-lesson .page-items .right .details {
            grid-template-columns: 1fr;
            grid-gap: 0.5rem;
        }

        #course-lesson .page-items .right {
            margin-left: 0px;
        }

        #course-lesson .page-items .right .course-image {
            height: 35vh;
        }

        #course-lesson .page-items .left-web {
            display: none;
        }

        #course-lesson .page-items .left-mobile{
            display: block;
        }


        

        .n-nav {
            border-bottom: #fff 1px solid;
            display: block;
        }

        .n-nav span {
            margin-left: 10px;
        }

        .n-nav a:hover {
            color:#B9B9B9 !important;
        }


        .s-nav {
            border-bottom: #fff 1px solid;
            margin-right: 0px;
        }
    
        .s-nav span {
            display: block;
            margin-left: 10px;
        }
        
        .navbar-nav li a{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        /* TEST */
        #course-lesson .page-items .left-mobile{
            background-color: #FFFFFF;
            /* border-left: #E2E2EA solid 1px; */
            padding-top: 20px;
            padding-bottom: 20px;
        }

        #course-lesson .page-items .right .container{
            padding-top: 8px;
        }
    
        #course-lesson .page-items .left-mobile .left-head {
            padding-left: 20px;
            padding-right: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        #course-lesson .page-items .left-mobile .search {
            padding-left: 17px;
            padding-right: 17px;
            margin-bottom: 20px;
            position: relative;
        }
        #course-lesson .page-items .right .details{
            grid-template-columns: auto;

        }
        /* TEST */

        .c-modal {
            padding-top: 100px;
        }

        #course-lesson .page-items .right {
            margin-left: 0px !important;
        }

        .bord {
            height: 60px;
            width: 60px;
            margin-bottom: 16px;
          }

          .course-vedio i {
            font-size: 28px;
          }

          .course-vedio a p {
            font-size: 16px;
          }

}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 
    #course-lesson .page-items .right .details{
        grid-template-columns: auto;

    }
}

/*// X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1600.98px) { 
    #course-lesson .page-items .right .container {
        max-width: 850px !important;
        padding-top: 40px;
    }


    #course-lesson .page-items .right {
        margin-top: 20px;
        margin-left: 300px;
    }


    #course-lesson .page-items .left-web .left-head h3 {
        font-size: 20px;
    }

    #course-lesson .page-items .left .lessons .lesson-items .lesson-item h6 {
        font-size: 10px;
    }
    #course-lesson .page-items .left-web {
        width: 300px;
    }
    #course-lesson .page-items .left .lessons .lesson-items .lesson-item .lesson-details .lesson-title p a {
        font-size: 11px;
    }
    #course-lesson .page-items .left .lessons .lesson-items .lesson-item .lesson-details .lesson-image img {
        width: 60px;
        height: 60px;
    }
    #course-lesson .page-items .left .lessons .lesson-items .lesson-item .lesson-details .lesson-title .time p {
        font-size: 12px;
    }

    #course-lesson .page-items .left .lessons .lesson-items .lesson-item .lesson-details .lesson-title .time .count {
        align-items: center;
    }

    /**/

    .description .desc-head h3 {
        font-size: 20px;
    }

    .description .desc-head p {
        font-size: 14px;
    }

    #course-lesson .page-items .right .details .tabs .nav li a {
        font-size: 12px;
    }

    .list-title {
        font-size: 16px;
    }

    #course-lesson .page-items .right .details .tabs .tab-content .tab-desc {
        font-size: 14px;
    }
    .tab-list li {
        font-size: 14px;
    }
    .mark-list .mark-list-child p {
        font-size: 14px;
    }
    .step-lesson nav a {
        font-size: 12px;
    }

    #course-lesson .page-items .right .details .step-lesson .tab-content .t-items .t-item .t-title h5 a {
        font-size: 12px !important;
    }
    #course-lesson .page-items .right .details .step-lesson .tab-content .t-items .t-item .t-title .box {
        font-size: 12px;
    }

    #course-lesson .page-items .right .details .step-lesson .tab-content .t-items .t-item .t-title .box-1 {
        font-size: 12px;
    }
    #course-lesson .page-items .right .details .step-lesson .tab-content .t-items .t-item p {
        font-size: 10px;
    }

    #course-lesson .page-items .left .search input::placeholder {
        font-size: 12px;
    }

    .navbar {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    body .nav-link {
        font-size: 16px;
    }

    .new-logo {
        width: 90px;
        height: 27px;
    }


    /* //// sign page section  //// */


.bg_gray{
    background: #FAFAFA;
    margin-top: 0 !important;
}
.bg_gray2{
    background: #FAFAFA;
}
.custom_nav_1{
    height: 60px;
    margin-bottom: 20px;
}
body .container_center{
    justify-content: center !important;
}
#sign_screens{
    margin-bottom: 65px;   
}
#sign_up{
    padding: 50px 40px;
    background-color: #FFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
#sign_in{
    padding: 50px 60px;
    background-color: #FFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.custom_nav_1 .logo {
    width: 100px;
}





#sign_content h3{
    font-size: 20px;
    margin-bottom: 22px;
}
#sign_content h5 {
    font-size: 14px;
    margin-bottom: 17px;
}
#sign_content input[type="text"]{
    font-size: 14px;
    padding: 12px 17px;
}
#sign_content input[type="password"]{
    font-size: 14px;
    padding: 12px 17px;
}

.flex_2{
    display: flex;
    gap: 15px;
    align-content: space-between;
    align-items: center
}
#sign_content .main_button{
    min-width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 12px;
    font-size: 14px;
}
body .nav_sign{
    font-size: 16px !important;
}
.t_small{
    font-size: 11px;
}
.social_btn{
    margin-top: 20px;
}
.password_eye{
    font-size: 18px;
}

.ternary_link {
    font-size: 12px;
}

body .sec_button {
    font-size: 16px;
    padding: 12px 30px;
}

.t-center {
    font-size: 12px;
}

.col-md-5 {
    flex: 0 0 auto;
    width: 36.66666667%;
}

.form-check label {
    font-size: 14px;
}


    /* VIDEO OVERLAY */

    .bord {
        height: 60px;
        width: 60px;
        margin-bottom: 16px;
      }

      .course-vedio i {
        font-size: 28px;
      }

      .course-vedio a p {
        font-size: 16px;
      }

      /**/

      .brochure-fill {
        padding: 10px 22px;
        font-size: 12px;
    }

    .mySlides img {
        height: 70vh;
        object-fit: cover;
    }

    #course-lesson {
        margin-left: 70px;
        margin-top: -58px;
    }

    /* CARD EDIT */

    body .course_card h5{
        font-size: 18px;
    }
    body .course_card p{
        color: #B9B9B9;
        font-size: 14px;
    }
    body .course_card a{
        font-size: 14px;
        padding: 10px 0;
    }


    .items .item .course_card img {
        height: 160px;
        object-fit: cover;
    }

    /* DETAILS PAGE */

    #details-content {
        margin-top: -20px;
    }

    #details-content .container {
        max-width: 850px;

    }

    #details-content .description .desc-body .para h4 {
        font-size: 16px;
    }

    #details-content .description .desc-body .para p {
        font-size: 15px;
        line-height: 1.6;
    }

    .brochure {
        padding: 8px 16px;
        font-size: 12px;
    }


    /* NOTIFICATION PAGE */

    .noti-head {
        padding-top: 12px;
    }

    .noti-head h3 {
        font-size: 20px;
    }

    .noti-head p {
        font-size: 14px;
    }

    .noti-item .noti-time h6 {
        font-size: 12px;
    }

    .noti-item .noti-time p {
        font-size: 12px;
    }

    .noti-item .noti-icon {
        margin-bottom: 12px;
    }

    .noti-item .noti-icon .icon-box {
        height: 40px;
        width: 40px;
        margin-right: 12px;
    }

    .noti-body .noti-content {
        font-size: 12px;
    }


}

/*// XX-Large devices (larger desktops)*/